<mat-sidenav-container class="navbarContainer">
	<mat-sidenav class="navBar" opened mode="side">
		<mat-nav-list class="teste">
			<a mat-list-item routerLink="/pages/clientes">
				<fa-icon [icon]="faBookOpenReader" class="icon"></fa-icon>
				Clientes
			</a>
			<a mat-list-item routerLink="/pages/emprestimos">
				<fa-icon [icon]="faCalendar" class="icon"></fa-icon>
				Empréstimos
			</a>
			<a mat-list-item routerLink="/pages/funcionarios">
				<fa-icon [icon]="faUsers" class="icon"></fa-icon>
				Funcionarios
			</a>
			<a mat-list-item routerLink="/pages/generos">
				<fa-icon [icon]="faBookmark" class="icon"></fa-icon>
				Generos
			</a>
			<a mat-list-item routerLink="/pages/livros">
				<fa-icon [icon]="faBook" class="icon"></fa-icon>
				Livros
			</a>
			<a mat-list-item routerLink="/pages/home">
				<fa-icon [icon]="faLandmark" class="icon"></fa-icon>
				Home
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="mainContainer">
		<router-outlet>
			<!-- Onde serão inseridos os componentes -->
		</router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
