.navbarContainer {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 20px 51px 0 rgba(108, 99, 97, 0.075);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgb(243, 243, 243);
	border-radius: 10px;
}

.navBar {
	background: #fff;
	border-right: 1px solid rgb(243, 243, 243);
	border-radius: 10px;
	box-shadow: 10px 0px 5px 3px rgba(212, 212, 212, 0.09);
	padding: 10px 50px;
}

.icon{
	margin-right: 10px;
}

a:hover{
	color: var(--orangeLighter);
	background-color: var(--darkGrey);
}

.mainContainer {
	padding: 25px 0;
	background-color: #fefafa;
}