<mat-card class="box" id="cadastrar">
    <mat-card-header class="headerBox">
        <mat-card-title> Cadastrar Funcionário </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field floatLabel="never" class="input" id="nome">
			<input
				matInput
				type="text"
				name="txtNome"
				id="txtNome"
				placeholder="Nome"
                [(ngModel)]="nome"/>
		</mat-form-field>
        <mat-form-field floatLabel="never" class="input" id="cpf">
			<input
				matInput
				type="text"
				name="txtCpf"
				id="txtCpf"
				placeholder="CPF"
                [(ngModel)]="cpf"/>
		</mat-form-field>
    </mat-card-content>
    <button class="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
</mat-card>
<mat-card>
    <mat-card-header class="headerBox">
        <mat-card-title> Lista de Funcionários </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
            </tr>
            <tr *ngFor="let funcionario of funcionarios">
                <td> {{ funcionario.id }}</td>
                <td> {{ funcionario.nome }}</td>
                <td> {{ funcionario.cpf }}</td>
                <td>
					<button class="btnAlterarItem" (click)="editarFuncionario(funcionario.id!)">
						<fa-icon [icon]="faPen" class="icon"></fa-icon>
					</button>
					<button class="btnAlterarItem" (click)="excluirFuncionario(funcionario.id!)">
						<fa-icon [icon]="faTrash" class="icon"></fa-icon>
					</button>
				</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>