<mat-card class="box" id="cadastrar">
    <mat-card-header class="headerBox">
        <mat-card-title> Cadastrar Empréstimo </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-select id="livro" [(ngModel)]="livroId" placeholder="Livro">
                <mat-option *ngFor="let livro of livros" value="{{ livro.id }}">
                    {{ livro.id }} - {{ livro.titulo }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select id="cliente" [(ngModel)]="clienteId" placeholder="Cliente">
                <mat-option *ngFor="let cliente of clientes" value="{{ cliente.id }}">
                    {{ cliente.id }} - {{ cliente.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input
				matInput
				type="date"
				name="dateEmprestimo"
				id="dateEmprestimo"
				placeholder="Data de Empréstimo"
                [(ngModel)]="dataEmprestimo"/>
        </mat-form-field>

        <mat-form-field>
            <input
				matInput
				type="date"
				name="dateDevolucao"
				id="dateDevolucao"
				placeholder="Data de Devolução"
                [(ngModel)]="dataDevolucao"/>
        </mat-form-field>

        <mat-form-field>
            <mat-select id="funcionario" [(ngModel)]="funcionarioId" placeholder="Funcionario">
                <mat-option *ngFor="let funcionario of funcionarios" value="{{ funcionario.id }}">
                    {{ funcionario.id}} - {{ funcionario.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <button class="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
</mat-card>
<mat-card>
    <mat-card-header class="headerBox">
        <mat-card-title> Lista de Empréstimos </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Código</th>
                <th>Livro</th>
                <th>Cliente</th>
                <th>Data de Empréstimo</th>
                <th>Data de Devolução</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let emprestimo of emprestimos">
                <td>{{ emprestimo.id }}</td>
                <td>{{ emprestimo.livro?.titulo }}</td>
                <td>{{ emprestimo.cliente?.nome }}</td>
                <td>{{ emprestimo.dataEmprestimo}}</td>
                <td>{{ emprestimo.dataDevolucao}}</td>
                <td>{{ emprestimo.finalizado ?  "Finalizado" : "Aberto" }}</td>
                <td>
                    <button class="btnAlterarItem" (click)="editarEmprestimo(emprestimo.id!)">
                        <fa-icon [icon]="faPen" class="icon"></fa-icon>
                    </button>
                    <button class="btnAlterarItem" (click)="excluirEmprestimo(emprestimo.id!)">
                        <fa-icon [icon]="faTrash" class="icon"></fa-icon>
                    </button>
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>