/* You can add global styles to this file, and also import other style files */
*,
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

:root {
    --darkGrey: rgb(49, 54, 56);
    --lightGrey: rgb(224, 223, 213);
    --mediumGrey: #847e89;
    --light: #e8e9eb;
    --green: #254441;
    --orangeLight: rgb(250, 162, 117);
    --orangeLighter: hsl(16, 100%, 69%);
    --redLight:#db504a;
    --redDark: #7b0828;
    --fontColor: #333333;
}

.container{
    background-color: #7b0828;
    margin: 0 auto;
    width:50%;
}

.btnCadastrar{

}

.btnRemover{

}

.input {
    display: block;
    color: white;
    border: 3px solid white;
}