<mat-card class="box" id="editar">
	<mat-card-header class="headerBox">
		<mat-card-title> Editar Livro </mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-form-field floatLabel="never" class="input" id="titulo" #forLivro>
			<input
				matInput
				type="text"
				name="txtLivro"
				id="txtLivro"
				placeholder="{{ livro.titulo }}"
				[(ngModel)]="livro.titulo"
			/>
		</mat-form-field>
		<mat-form-field floatLabel="never" class="input" id="autor">
			<input
				matInput
				type="text"
				name="txtAutor"
				id="txtAutor"
				placeholder="{{ livro.autor }}"
				[(ngModel)]="livro.autor"
			/>
		</mat-form-field>
		<mat-form-field floatLabel="never" class="input" id="publicacao">
			<input
				matInput
				type="text"
				name="txtPublicacao"
				id="txtPublicacao"
				placeholder="{{ livro.publicacao }}"
				[(ngModel)]="livro.publicacao"
			/>
		</mat-form-field>
		<mat-form-field floatLabel="never" class="input" id="paginas">
			<input
				matInput
				type="text"
				name="txtPaginas"
				id="txtPaginas"
				placeholder="{{ livro.paginas }}"
				[(ngModel)]="livro.paginas"
			/>
		</mat-form-field>
		<mat-form-field floatLabel="never" class="input" id="editora">
			<input
				matInput
				type="text"
				name="txtEditora"
				id="txtEditora"
				placeholder="{{ livro.editora }}"
				[(ngModel)]="livro.editora"
			/>
		</mat-form-field>
		<mat-form-field class="input" id="genero">
			<mat-label>Genero</mat-label>
			<mat-select [(ngModel)]="livro.generoId">
				<mat-option
					*ngFor="let genero of generos"
					value="{{ genero.id }}"
					placeholder="Genero"
					#forGenero
				>
					{{ genero.id }} - {{ genero.generoLivro }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</mat-card-content>
	<button class="btnCadastrar" (click)="editarLivro()">Salvar</button>
</mat-card>
